<!DOCTYPE html>
<html>
<head>
    <% include header_notlogged.ejs %>
</head>
<body>

<% if ( typeof user == 'undefined'){%>
<% include nav.ejs%>
<%} else {%>
<% include nav_loged.ejs%>
<% }%>

<div class="page-header jumbotron-fluid">
    <h2 class="page-header"><%= title%></h2>
</div>

<div class="container-fluid">
    <div class="" style="float: left">
        <img src="/img/sips_full.png">
    </div>
    <p><strong>Sips</strong> is a project that started out in 2016 as a collaboration between Gudina Hambissa, Desmond Russell, Joe Pawlicki, Doug Chambers and Katy Robins . Sip is a beer & wine consumption tracker web based application that allows users to keep tabs on their favorite beverages,
        log notes and pictures and leverage reporting tools to grab snap shots of past data</p>

</div>
<% include footer.ejs%>
</body>
</html>
