<!DOCTYPE html>
<html>
<head>
    <% include header_logged.ejs %>
</head>
<body ng-app="sips">

<% if ( typeof user == 'undefined'){%>
<% include nav.ejs%>
<%} else {%>
<% include nav_loged.ejs%>
<% }%>

<div class="container" ng-controller="consumptionController">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Enter Consumption</h1>
        <form class="form-register" ng-submit="enterConsumption()">
            <div class="form-group">
                <label>Date</label>
                <input type="date" name="date" ng-model="formData.date" class="form-control" />
            </div>
            <div class="form-group">
                <label>Drink Type</label>
                <select name="drinkType" ng-model="formData.drinkType" ng-options="option for option in drinkTypes" class="form-control">
                    <option value="" ng-value="undefined">-- Please Choose --</option>
                </select>
            </div>
            <div class="form-group" ng-if="formData.drinkType">
                <label>Drink Brand</label>
                <select name="drinkBrand" ng-model="formData.drinkBrand" ng-options="option.bevName for option in drinkBrands|filter:{bevType:formData.drinkType}" class="form-control">
                    <option value="" ng-value="undefined">-- Please Choose --</option>
                </select>

            </div>
            <div class="form-group">
                <label>Rating</label>
                <uib-rating ng-model="formData.rating" max="7" titles="['Strongly Dislike', 'Dislike', 'Mildly Dislike', 'Neutral', 'Mildly Like', 'Like', 'Strongly Like']" aria-labelledby="default-rating" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" class="form-control"></uib-rating>
            </div>
            <!--<div class="form-group">-->
                <!--<label>Label</label>-->
                <!--<input type="file" class="form-control" placeholder="label" name="label" ng-model="formData.label">-->
            <!--</div>-->
            <div class="form-group">
                <label>Comments</label>
                <textarea name="comments" ng-model="formData.comments" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button><span class="text-success" ng-show="message"> &nbsp; &nbsp; {{message}}</span>
        </form>
    </div>
</div>

<% include footer.ejs%>

</body>
</html>