<!DOCTYPE html>
<html>
<head>
  <% include header_notlogged %>
  </head>
<body>
  <% include nav%>
  <div class="page-header jumbotron-fluid">
    <h2 class="page-header">Home Page</h2>
  </div>
  <% include footer%>
</body>
</html>
