<!DOCTYPE html>
<html>
<head>
  <% include header_notlogged.ejs %>
  </head>
<body>

<% if ( typeof user == 'undefined'){%>
<% include nav.ejs%>
<%} else {%>
<% include nav_loged.ejs%>
<% }%>

  <div class="page-header jumbotron-fluid">
    <h2 class="page-header"><%= title%></h2>
  </div>
  <% include footer.ejs%>
</body>
</html>
