<div class="container-fluid">
    <nav class="navbar navbar-dark bg-inverse">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#ngn_nav_bar">
        </button>
        <a class="navbar-brand" href="/"><img src="" alt="CS633FP" height="40"></a>
        <div class="collapse navbar-toggleable-xs" id="ngn_nav_bar">
            <!-- float to the right on screen sizes of small and up-->
            <ul class="nav navbar-nav pull-sm-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/users/login">LogIn</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="btn btn-primary">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>