<!DOCTYPE html>
<html>
<% include header_notlogged %>

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Register</h1>
        <form class="form-register" method="POST" action="/users/register">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password2">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="City" class="form-control" placeholder="City" name="city">
            </div>

            <div class="form-group">
                <label>Sate</label>
                <input type="sate" class="form-control" placeholder="state" name="state">
            </div>

            <div class="form-group">
                <label>Birth Date</label>
                <input type="date" class="form-control" placeholder="DOB" name="dob">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<footer class="footer container">
    <p>&copy; 2016 A project for CS633 Distributed Software Development and Management class. A beer & wine consumption tracker web based application that allows users to keep tabs on their favorite beverages,
        log notes and pictures and leverage reporting tools to grab snap shots of past data..</p>
</footer>

</body>
</html>