<!DOCTYPE html>
<html lang="en-us">
<head>
    <% include header_notlogged.ejs %>
    <script src="http://lab.iamrohit.in/js/location.js"></script>
</head>
<body>

<% if ( typeof user == 'undefined'){%>
<% include nav.ejs%>
<%} else {%>
<% include nav_loged.ejs%>
<% }%>

<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <img src="/img/sips_full.png">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Register</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form class="form-register" method="POST" action="/register">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" name="username">
            </div>
            <div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password2">
                </div>
            </div>

            <div class="form-group">
                <label class=" control-label">Gender</label>
                <div class="">
                    <select class="form-control" name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class=" control-label" id="countryId">Country</label>
                <div class="">
                    <select name="country" class="form-control countries" name="country">
                        <option value="">Select Country</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class=" control-label" id="stateId">State</label>
                <div class="">
                    <select name="state" class="form-control states" name="state">
                        <option value="">Select State</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class=" control-label" id="cityId">City</label>
                <div class="">
                    <select name="city" class="form-control cities" name="city">
                        <option value="">Select City</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Birth Date</label>
                <input type="date" class="form-control" placeholder="DOB" name="dob">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<% include footer%>
</body>
</html>